
<%- include("header") -%>
<form class="" action="/freqshopper" method="post">
  Email<input type="text" name="uemail" required>
  <br>Subscribe to special offers?
  <input type="radio" name="subscribe" value="yes">Yes
  <input type="radio" name="subscribe" value="no">No
  <!-- input ID... -->
  <button type="submit" name="button">Submit</button>
</form>
</body>

</html>
