<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Database Class</title>
</head>
<body>
  <h1>DataFast Project</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/login">Log In</a>
  </nav>
