
<%- include("header") -%>
<form class="" action="/search" method="post">
  <button type="submit" name="allstores">View all stores</button>
</form>
<div>
  <br><a href="/sales">Find happy customers from this year!</a>
</div>
<div>
  <br><a href="/freqshopper">Subscribe to become a frequent shopper?</a>
  </div>

</body>

</html>
