<%- include("header") -%>
<div class="" name="login-form">
  <form class="" action="" method="post">
    <div class="username-div">
      Username<input type="text" name="uname" value="">
    </div>
    <div class="password-div">
      Password<input type="password" name="upassword" value="">
    </div>
    <div class="login-buttons">
      <!--For the onclick, you can have it be a function call to query DB -->
      <input type="button" onclick="" value="Login">
      <input type="reset" name="" value="Clear">
    </div>
  </form>
</div>
</body>

</html>
