<%- include("header") -%>
<div class="" name="login-form">
  <form class="" action="/login" method="post">
    <div class="username-div">
      Username<input type="text" name="uname" value="">
    </div>
    <div class="password-div">
      Password<input type="password" name="upassword" value="">
    </div>
    <div class="login-buttons">
      <input type="button" value="Login">
      <input type="reset" value="Clear">
    </div>
  </form>
</div>
</body>

</html>
