<%- include("header") -%>
<div class="ourcustomers">
<table style="width:25%" border="1" border-spacing="2px">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
<% for(let i = 0;i < happyCustomers.length;i++){ %>
  <tr>
  <td><%= happyCustomers[i].first_name %></td>
  <td><%= happyCustomers[i].last_name %></td>
  </tr>
<% } %>
</table>
</div>
</body>

</html>
