<!DOCTYPE html>
<div id="store-listbox-and-button">
  <select id="store-select">Store Name</select>
  <script>
    var storeobject = {
      Store1: 'Store1',
      Store2: 'Store2',
      Store3: 'Store3'
    };
    var select = document.getElementById("store-select");
    for (var index in storeobject) {
      select.options[select.options.length] = new Option(storeobject[index], index);
    }
  </script>
  <button type="submit" onclick="BrowseStore()">Browse</button>
</div>
<div id="item-box">
  <input type="text" placeholder="Search here for your item" />
  <button type="submit" name="search-item">Search</button>
</div>

<script type="text/javascript">
  function BrowseStore() {
    var e = document.getElementById("store-select");
    var strStore = e.options[e.selectedIndex].text;
    window.location(strStore);
  }
</script>
